

/* BEBAS-NEUE
-------------------------------------------------- */

@font-face
  font-family 'bebas-neue-bold'
  src url('/fonts/bebas-neue/bebasneue_bold-webfont.woff') format('woff'), url('/fonts/bebas-neue/bebasneue_bold-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'bebas-neue'
  src url('/fonts/bebas-neue/bebasneue_book-webfont.woff') format('woff'), url('/fonts/bebas-neue/bebasneue_book-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal