
.main-menu
	position fixed
	z-index 10000
	top 45px
	right 0
	bottom 0
	width 300px
	background-color rgba($white, 0.9)
	li 
		display none
		color $grey
		text-align center
		font-size 2em
		font-family 'bebas-neue'
		margin 40px 30px 0 30px
		padding 5px 0
		cursor pointer
		background-color rgba($offwhite, 0.8)
		transition background-color 1s, margin 0.8s
		&:hover
			background-color $cream
			margin 40px 10px 0 10px