.overlay
	display none
	position absolute
	top 0
	left 0
	width 100%
	text-align center
	@media (max-width: 700px)
		padding-top: 40px
	h1
		font-size 4em
		color $white
		margin 30px auto 0 auto
		text-shadow 2px 4px 3px rgba(0,0,0,0.3)
		font-family 'bebas-neue'
		@media (max-width: 825px)
			padding 0 20px
		@media (max-width: 550px)
			font-size 3em
	h2
		font-size 1.9em
		color $white
		margin 0 auto 30px auto
		text-shadow 2px 4px 3px rgba(0,0,0,0.3)
		font-family 'Fenix'
		@media (max-width: 825px)
			padding 0 20px
		@media (max-width: 550px)
			font-size 1.6em
	h3
		font-size 2.5em
		color $grey
		margin 0 auto 10px auto
		font-family 'bebas-neue'
	h4
		max-width 700px
		font-size 1.2em
		padding 0 10px
		margin 0 auto 30px auto
		color $grey
		font-family 'Fenix'

.overlay-close
	position fixed
	top 25px
	left 35px
	width 75px
	height 75px
	z-index 100
	padding 4px 0
	font-size 1.1em
	color $white
	text-align center
	border-radius 50%
	box-shadow 0px 0px 5px 0px rgba(0,0,0,0.1)
	border 3px solid $cream
	background-color $green
	font-family 'bebas-neue'
	cursor pointer
	outline none
	transition all 0.6s
	img
		width 20px
		margin-bottom 5px
	p
		margin 0
	&:hover
		background-color darken($green, 15%)
		transform translateX(-8px)
	@media (max-width: 700px)
		top: 0
		left: 0
		height: 45px
		width: auto
		border-radius: 0
		padding: 10px 15px
		font-size: 1em
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
		p
			display: inline-block;
			vertical-align: top
			margin-left: 5px
			margin-top: 2px
		&:hover
			transform: none;

.overlay-close.mobile-bar-btn
	@media (max-width: 700px)
		top: 0
		left: 0
		width: 100%
		border-radius: 0
		height: 40px
		padding-top: 10px
		border-left: none
		border-right: none
		border-top: none
		p
			display: inline-block
			vertical-align: top
			margin: 1px 0 0 5px


.page-about
	.overlay-close
		left auto
		right 0

.overlay-background
	position absolute
	top 0
	left 0
	right 0
	height 650px
	z-index -1
	@media (max-width: 655px)
		height 550px
	@media (max-width: 525px)
		height 500px
	@media (max-width: 450px)
		height 450px

.sqwrlapp-background
	background url("../../img/clouds-background.jpg") bottom
	background-size cover
	&:after
		content ""
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		z-index 10
		background-color rgba(0,0,0,0.2)

.sunset-background
	background url("../../img/beach-sunset.jpg") bottom
	background-size cover
	&:after
		content ""
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		z-index 10
		background-color rgba(0,0,0,0.2)

.feature-image
	padding 0 75px
	@media (max-width: 675px)
		padding 0 25px

.feature-image-sm
	padding 0 150px
	@media (max-width: 675px)
		padding 0 25px

.feature-paragraph
	max-width 850px
	margin 75px auto 0 auto
	font-size 1.6em
	color $grey
	font-family 'Fenix'
	&.space-below
		margin-bottom: 100px
	@media (max-width: 675px)
		margin 30px auto 10px auto
		padding 0 20px
		font-size 1.3em

.title
	position relative
	width 100%

.title-image
	position relative
	width 250px
	padding 20px 30px
	border 1px solid $offwhite
	margin 0 auto 20px auto
	background-color $white

.title-image-med
	height 135px
	padding 10px 20px

.title-image-sm
	height 135px

.title-border
	display block
	position absolute
	z-index -1
	top 50%
	width 100%
	border-top 1px solid $offwhite

.responsive-example,
.beautiful-profile
	max-width 75%
	margin 40px auto 100px

.adaptable-view
	padding 0 100px
	margin 40px auto 100px

.rainwater-logo
	width 90%
	max-width 550px
	margin 40px auto 150px auto
