.page
	position fixed
	max-width 100%
	top 45px
	right 45px
	bottom 45px
	left 45px
	@media (max-height: 700px)
		top 20px
		left 20px
		right 20px
		bottom 20px
	@media (max-width: 650px)
		top 45px
		left 0
		right 0
		bottom 15px
	@media (max-height: 460px)
		top 0
		right 0
		left 0
		bottom 0

.page-heading
	color $darkgrey
	font-size 2.2em
	font-family 'bebas-neue'
	margin 10px auto
	@media (max-height: 350px)
		font-size 1.5em
	@media (max-width: 650px)
		font-size 1.8em

.page-heading-container
	margin 0 45px
	padding 25px 0
	background-color $offwhite

.page-heading-border
	border-top 1px solid $grey
	width 40px
	margin 0 auto

.page-subheading
	padding 50px 0
	color $grey
	font-family 'Fenix'
	@media (max-height: 375px)
		padding 20px 0
	@media (max-height: 300px)
		padding 0


/* WORK
   -------------------------------------------------- */

.page-work
	display none
	left 0
	right 0
	bottom 0
	text-align center
	@media (max-width: 620px)
		top 0
		.page-heading-container
			margin 0

.work-item
	position relative
	width 100%
	height 500px
	padding 78px 15px 0 15px
	margin 0 auto
	vertical-align top
	border-bottom 3px solid $white
	background-color $lightgrey

.work-sqwrl-app
	color $white
	background-color $sqwrlred

.work-sqwrl-pitch
	color $white
	background-color $sqwrlblue
	img
		width 230px
		margin 5px auto 15px auto

.work-phils
	color $black
	padding-top 40px
	background url("../../img/philsphoto.jpg") no-repeat center center
	background-size cover
	img
		height 200px
	.work-company
		font-family 'bebas-neue-bold'

.work-rainwater
	color $white
	background url("../../img/raindrop.jpg") no-repeat center center
	background-size cover
	img
		height 130px

.work-mask-app
	color $black
	background-color $neongreen

.work-moje
	color $black
	background url("../../img/madamemojebg.jpg") no-repeat center center
	background-size cover
	img
		height 140px
	.work-company
		margin-top 0
		font-family 'bebas-neue-bold'


.work-company
	margin-bottom 0
	font-family 'bebas-neue'

.work-title
	margin 12px auto
	font-family 'bebas-neue'
	
.work-subtitle
	margin-top 0
	margin-bottom 35px
	font-size 1.2em
	font-family 'Fenix'



/* ABOUT
   -------------------------------------------------- */

.page-about
	display none
	padding-top 35px
	background-color $cream
	border 15px solid $green
	text-align center
	overflow auto
	@media (max-width: 650px)
		bottom 0
		border none
		padding-top 20px

.about-content
	margin 0 auto
	padding 50px 0

.about-profile
	display block
	width 18%
	padding-top 18%
	margin 45px auto
	background-color $offwhite
	border 3px solid $white
	border-radius 50%
	vertical-align top
	background-image url(/img/profile-photo.jpg)
	background-size cover
	@media (max-height: 675px)
		margin 20px auto 0 auto
	@media (max-height: 525px)
		width 200px
		padding-top 200px
	@media (max-height: 475px)
		width 120px
		padding-top 120px
	@media (max-height: 340px)
		width 80px
		padding-top 80px
		margin 5px auto
	@media (max-width: 950px)
		width 30%
		padding-top 30%
	@media (max-width: 650px)
		margin 20px auto

.about-copy
	display block
	width 74%
	margin 35px auto
	padding 0 15px
	color $lightgrey
	font-size 1.5em
	vertical-align top
	a, span
		color $blue
		text-decoration none
		cursor pointer
	@media (max-height: 635px)
		font-size 1.1em
		margin 5px auto
	@media (max-width: 950px)
		font-size 1.2em
		margin 10px auto
	@media (max-width: 650px)
		width 100%
		font-size 1.1em
		margin 20px auto
		padding 0 20px


/* CONTACT
   -------------------------------------------------- */

.page-contact
	display none
	padding-top 35px 
	background-color $cream
	border 15px solid $green
	text-align center

.contact-link
	color $grey
	text-decoration none
	font-size 6em
	font-family 'Fenix'
	transition color 0.6s
	&:hover
		color $green
	@media (max-height: 450px)
		font-size 2.5em
	@media (max-width: 650px)
		font-size 1.5em

