
$white = #FFFFFF

$black = #000000

$blue = #3092D1

$offwhite = #EDEFF0

$cream = #D1D2D4

$lightgrey = #98999B

$grey = #6D6E70

$darkgrey = #58585B

$green = #7DC683

$red = #DA7550

$sqwrlred = #DF5826

$sqwrlblue = #5C6A77

$neongreen = #D0EF6F